*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans' ,sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800px;
    float: left;
    font-family: courier;
    color: #222831;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #222831;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.dari {
    width: 250px;
    height: 270px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family:'comic sans ms';
    color: #222831;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color:#222831;
    width: 100%;
    line-height: 50px;
}

.kolom .warna {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: linear-gradient(90deg, red, yellow,green,blue);
    -webkit-background-clip: text;
    background-size: 1000%;
    transform-origin: right;
    color: transparent;
    animation: drive 3s linear infinite;
}

@keyframes drive {
    0% {
        background-position: 100% 0%;
        letter-spacing: 0;
        font-size: 16px;
    }
    50% { 
        background-position: 0% 100%;
        letter-spacing: 0px;
        font-size: 15px;
    }
    100% {
        background-position: 100% 0%;
        letter-spacing: 0px;
        font-size: 16px;
    }
}

a.tbl-biru {
    background:#3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:#FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-kuning {
    background:#fc5185;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 30px 5px 30px;
    color:#FFFFFF;
    cursor: pointer;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a.tbl-kuning:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 5px 3px 5x 3px;
    padding: 5px 3px 10px 3px;
}

a.tbl-hijau {
    background:#ff04ea;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px 150px 8px 134px;
    color:#FFFFFF;
    cursor: pointer;
}

.aswsa {
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: sureasu 10s steps(27);
}

a.tbl-hijau:hover {
    background: #3f72af;
    text-decoration: none;
}

.satu {
    max-width: 535px;
    height: 120vh;
}
.dua {
    height: 100%;
    overflow: auto;
}

.dua img {
    width: 520px;
    height: 150px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-contact {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-contact {
    width: 20%;
    margin: 0 auto;
}

.kartu-contact img {
    width: 80% ;
    border-radius: 50%;
}

.kartu-contact p{
    font-family:'comic sans ms';
    font-weight: 800px;
    font-size: 25px;
    text-align: center;
    color: #222831;
}

.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: #3f72af;
}

@media screen and (max-width: 922px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: inline;
    }
    .tombol-menu {
        display: flex;
    }
    nav .menu {
        display: none;
    }
    nav .menu.active {
        display: flex;
    }
    nav ul li {
        width:100%;
        border-bottom:1px solid #333333;
    }

    .dari {
        width: 165px;
        height: 165px;
        margin-top: 49px
    }

    .dear {
        font-size: 130%;
    }

    .desa {
        font-size: 120%;
        font-family:monospace;
    }

    .disi {
        font-size: 220%;
    }

    .kolom .warna {
        font-size: 9px;
        width: 100%
    }

    a.tbl-kuning {
        padding: 2px 15px 2px 15px
    }

    a.tbl-hijau {
        padding: 3px 37px 3px 40px;
    }

    .satu {
        max-width: 120%;
        height: 120vh;
    }
    .dua {
        height: 100%;
        overflow: auto;
    }

    .dua img {
        width: 100%;
        height: 13%;
    }
}

.reb {
    font-size: 34px ;
    width: 100% ;
}

.rap {
    font-size: 15px;
    width: 100%;

}

.kartu-contact img {
    width: 130% ;
    border-radius: 50%;
}

.kartu-contact p{
    font-family:'comic sans ms';
    font-weight: 800px;
    font-size: 17px;
    text-align: center;
    color: #222831;
}
